<!DOCTYPE html>

<html>

{{>head}}
<body>
    {{>header}}
    <p>This is an attempt to put everything that I`ve learn about javascript, python and technology in general. 
       There is this problem with learning new material - if you won't write it somewhere permanently that you can quickly access, it will go away pretty fast.
       I think this applies also to other aspects in life like for example learning new language.</p>
    {{>footer}}
    {{>importScripts}}
</body>

</html>