<figure class="figure">
  <a href="https://react.lukasrimkus.com">
    <img src="/images/Modern_React_and_Redux.jpg" class="figure-img img-fluid rounded thumb-img" alt="Modern React and Redux 2020.">
  </a>
  <figcaption class="figure-caption">Modern React and Redux 2020</figcaption>
</figure>

<figure class="figure">
  <a href="#">
    <img src="/images/Modern-JavaScript-from-Novice-to-Ninja.png" class="figure-img img-fluid rounded thumb-img" alt="Modern Javascript (from Novice to Ninja).">
  </a>
  <figcaption class="figure-caption">Modern Javascript (from novice to ninja)</figcaption>
</figure>


<figure class="figure">
  <a href="http://node.lukascode.com">
    <img src="/images/The_Complete_NodeJs_Developer_Course.jpg" class="figure-img img-fluid rounded thumb-img" alt="The Complete NodeJs developer Course">
  </a>
  <figcaption class="figure-caption">The Complete NodeJs developer Course</figcaption>
</figure>